.container{
    display: flex;
}
#products{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}
.item{
    width: 500px;
    height: 500px;
    background-color: coral;
    border-radius: 50px;
    padding-top: 30px;
}
img {
    margin: auto;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50px;
}
h2{
    text-align: center;
}